$animationDuration: 1s;
$delay: 1s;

.container {
    transform-style: preserve-3d;
    perspective: 2000px;
    padding: 20px;
    position: relative;

    .line {
        &__bottom {
            &-right {
                &-vertical {
                    width: 1px;
                    height: 100px;
                    background-color: #d49967;
                    position: absolute;
                    top: 310px;
                    left: 386px;
                }
                &-horizontal {
                    width: 120px;
                    height: 1px;
                    background-color: #d49967;
                    position: absolute;
                    top: 409px;
                    left: 387px;
                }
            }

            &-left {
                &-vertical {
                    width: 1px;
                    height: 100px;
                    background-color: #d49967;
                    position: absolute;
                    top: 310px;
                    left: 386px;
                }
                &-horizontal {
                    width: 1px;
                    height: 100px;
                    background-color: #d49967;
                    position: absolute;
                    top: 310px;
                    left: 386px;
                }
            }
        }

        &__top {
            &-right {
                &-vertical {
                    width: 1px;
                    height: 100px;
                    background-color: #d49967;
                    position: absolute;
                    top: 310px;
                    left: 386px;
                }
                &-horizontal {
                    width: 1px;
                    height: 100px;
                    background-color: #d49967;
                    position: absolute;
                    top: 310px;
                    left: 386px;
                }
            }

            &-left {
                &-vertical {
                    width: 1px;
                    height: 100px;
                    background-color: #d49967;
                    position: absolute;
                    top: 310px;
                    left: 386px;
                }
                &-horizontal {
                    width: 1px;
                    height: 100px;
                    background-color: #d49967;
                    position: absolute;
                    top: 310px;
                    left: 386px;
                }
            }
        }
    }


    .circle {
        opacity: 0;
        animation: $animationDuration ease-in-out circle-show $delay*4;
        animation-fill-mode: forwards;
        transform-origin: center;
    }

    .top {
        &-right {
            &-info {
                &__text {
                    opacity: 0;
                    animation: $animationDuration ease-in-out info-show $delay*24;
                    animation-fill-mode: forwards;
                }
                &__title {
                    opacity: 0;
                    animation: $animationDuration ease-in-out info-show $delay*22;
                    animation-fill-mode: forwards;
                }
                &__rect {
                    opacity: 0;
                    animation: $animationDuration ease-in-out info-show $delay*23;
                    animation-fill-mode: forwards;
                }
                &__circle {
                    opacity: 0;
                    animation: $animationDuration ease-in-out info-show $delay*20;
                    animation-fill-mode: forwards;
                }
                &__line {
                    opacity: 0;
                    animation: $animationDuration ease-in-out info-show $delay*21;
                    animation-fill-mode: forwards;
                }
            }

            &-arrow {
                opacity: 0;
                animation: $animationDuration ease-in-out move-top-right;
                animation-fill-mode: forwards;
                transform-origin: 0% 100%;
            }
        }

        &-left{
            &-info {
                &__text {
                    opacity: 0;
                    animation: $animationDuration ease-in-out info-show $delay*9;
                    animation-fill-mode: forwards;
                }
                &__title {
                    opacity: 0;
                    animation: $animationDuration ease-in-out info-show $delay*7;
                    animation-fill-mode: forwards;
                }
                &__rect {
                    opacity: 0;
                    animation: $animationDuration ease-in-out info-show $delay*8;
                    animation-fill-mode: forwards;
                }
                &__circle {
                    opacity: 0;
                    animation: $animationDuration ease-in-out info-show $delay*5;
                    animation-fill-mode: forwards;
                }
                &__line {
                    opacity: 0;
                    animation: $animationDuration ease-in-out info-show $delay*6;
                    animation-fill-mode: forwards;
                }
            }

            &-arrow {
                opacity: 0;
                animation: $animationDuration ease-in-out move-top-left $delay;
                animation-fill-mode: forwards;
                transform-origin: 100% 100%;
            }
        }
    }

    .bottom {
        &-right{
            &-info{
                &__text {
                    opacity: 0;
                    animation: $animationDuration ease-in-out info-show $delay*14;
                    animation-fill-mode: forwards;
                }
                &__title {
                    opacity: 0;
                    animation: $animationDuration ease-in-out info-show $delay*12;
                    animation-fill-mode: forwards;
                }
                &__rect {
                    opacity: 0;
                    animation: $animationDuration ease-in-out info-show $delay*13;
                    animation-fill-mode: forwards;
                }
                &__circle {
                    opacity: 0;
                    animation: $animationDuration ease-in-out info-show $delay*10;
                    animation-fill-mode: forwards;
                }
                &__line {
                    opacity: 0;
                    animation: $animationDuration ease-in-out info-show $delay*11;
                    animation-fill-mode: forwards;
                }
            }

            &-arrow {
                opacity: 0;
                animation: $animationDuration ease-in-out move-bottom-right $delay*2;
                animation-fill-mode: forwards;
                transform-origin: 0% 0%;
            }
        }

        &-left{
            &:hover {
                g {
                    opacity: 1;
                }
            }

            &-info {
                &__text {
                    opacity: 0;
                    animation: $animationDuration ease-in-out info-show $delay*19;
                    animation-fill-mode: forwards;
                }
                &__title {
                    opacity: 0;
                    animation: $animationDuration ease-in-out info-show $delay*17;
                    animation-fill-mode: forwards;
                }
                &__rect {
                    opacity: 0;
                    animation: $animationDuration ease-in-out info-show $delay*18;
                    animation-fill-mode: forwards;
                }
                &__circle {
                    opacity: 0;
                    animation: $animationDuration ease-in-out info-show $delay*15;
                    animation-fill-mode: forwards;
                }
                &__line {
                    opacity: 0;
                    animation: $animationDuration ease-in-out info-show $delay*16;
                    animation-fill-mode: forwards;
                }
            }

            &-arrow {
                opacity: 0;
                animation: $animationDuration ease-in-out move-bottom-left $delay*3;
                animation-fill-mode: forwards;
                transform-origin: 100% 0%;
            }
        }
    }
}

@keyframes info-show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes circle-show {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


@keyframes move-top-left {
    0% {
        opacity: 0;
        transform: translate3d(-100px, -100px, 100px);
        transform: scale(2);
    }
    100% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        transform: scale(1);
    }
}

@keyframes move-top-right {
    0% {
        opacity: 0;
        transform: translate3d(100px, -100px, 100px);
        transform: scale(2);
    }
    100% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        transform: scale(1);
    }
}

@keyframes move-bottom-right {
    0% {
        opacity: 0;
        transform: translate3d(100px, 100px, 100px);
        transform: scale(2);
    }
    100% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        transform: scale(1);
    }
}

@keyframes move-bottom-left {
    0% {
        opacity: 0;
        transform: translate3d(-100px, 100px, 100px);
        transform: scale(2);
    }
    100% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        transform: scale(1);
    }
}
